@CHARSET "UTF-8";

.shrinkWrap {
    height: auto;
	margin-bottom: 20px;
}

.pages {
    overflow: auto;
    width: 100%;
}

.shrinkWrap .page {
    width: 100%;
}
.grid .story {
    height: 215px;
	width: 215px;
}

.grid .story.first {
    height: 215px;
	width: 430px;
}