@CHARSET "UTF-8";

.shrinkWrap {
    height: auto;
	margin-bottom: 20px;
}

.pages {
    overflow: auto;
    width: 100%;
}

.shrinkWrap .page {
    width: 100%;
}
.grid .story {
    height: 215px;
	width: 215px;
}

.grid .story.first {
    height: 215px;
	width: 430px;
}

.light-skin .shrinkWrap {
    box-shadow: 0 0 0;
}

#shrinkWrapBG-1{
    border: 1px solid black;
    border-radius: 32% 32% 32% 32%;
    bottom: 20px;
    box-shadow: 0 0 22px -10px #000000;
    display: block;
    left: 20px;
    position: absolute;
    right: 20px;
    top: 20px;
}

#shrinkWrapBG-2{
    border: 1px solid black;
    bottom: 21px;
    box-shadow: 0 0 20px -10px #000000;
    display: block;
    left: 20px;
    position: absolute;
    right: 20px;
    top: 20px;
}

.shrinkWrap-center-top{
    border: 3px solid red;
    box-shadow: 0 106px 94px 33px #000000;
    display: block;
    margin: 20px auto auto;
    position: relative;
    width: 66%;	
}

.shrinkWrap-center-bottom {
    border: 3px solid red;
    bottom: 20px;
	/* h-shadow v-shadow [blur spread color inset]*/
    box-shadow: 0 -74px 94px 33px #000000;
    display: block;
    left: 16%;
    margin: 0 auto;
    position: absolute;
    width: 66%;
}

/*
 * section feed over
 */

#sidebar {
	/* fix sidebar z-index at least equal to the main area*/
    z-index: 120;
}

#sidebar dl:hover.sectionFeeds {
   /* No hover effect
    background-color: #E0E0E0;
    box-shadow: 0 0 6px #999999;
    left: 0;
    margin: 0 0 0 -180px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 9999;
    */
}
#sidebar #SectionsContent{
	overflow: hidden;
}
#SectionsContent ol li{
	float: left;
	width: 120px;
	overflow: hidden;
}

/*
 * menu
 */
#sidebar dl.helpers {
	background-color: #E0E0E0;
	margin-right: -20px;
}

/*
 * no scroll bars
 */
.pages {
    overflow: hidden;
}

/*
 * full width stories
 */
.grid .story.first {
    width: 50%;
}

.grid .story {
    width: 25%;
}


/*
 * Fonts
 */

.headline {
    color: #00bff3;
    cursor: pointer;
    font-family: Helvetica, Arial, sans-serif;
	font-weight:bolder;
	font-size: 12pt;
}

.headline a:active, 
.headline a:focus, 
.headline a:hover, 
.headline a:link, 
.headline a:visited{
	color: #00bff3;
}



.story.first .headline {
    color: #00abec;
	font-family: Helvetica, Arial, sans-serif;
	font-weight:bolder;
	font-size: 22pt;
}

.byline {
    color: #688090;
    font-family: arial,helvetica,sans-serif;
    text-transform: none;
	padding-bottom: 6px;
	font-size: 8pt;
}

.summary p, .body p {
    color: #2f3d46;
    font-family: Helvetica, Arial, sans-serif;
	font-size: 9pt;
}

.thumbnail, .thumbWrapper {
    margin-right: 8px;
}

.sectionHeader table{width: 100%}
.sectionHeader .line {display: none;}
.sectionName { text-align: right;}
.sectionName p{  
	color: #00abec;
	background-color: #E9F2F7;
    display: block;
    margin: 0;
    padding: 3px;
	padding-right: 20px;
	font-size: 10pt;
}

.sectionFooter td{ padding: 0px}
.sectionFooter {
    color: #00ABEC;
    font-size: 18px;
}

#sidebar dl.helpers dt{
	font-size: 12pt;
	color: #00ABEC;
	text-transform: none;
}

.light-skin .shortcuts,
.light-skin .customize,
.light-skin .account {
    background: none;
	color: #00ABEC !important;
}

#sidebar dt#SectionsHeader{
	font-size:12pt;
	text-transform:none;
	margin-left: 20px;
}
#sidebar dt#SectionsHeader .label{
	margin-left: -20px;
}
/*
 * Sidebar paddings
 */
.light-skin #sidebar dd{
	border:none;
}
#sidebar dl.sectionFeeds {
    margin: 0 -20px;
}

.light-skin #sidebar dt {
    padding-left: 20px;
}

.light-skin #sidebar .content li.selected {
    margin-left: -20px;
}

#sidebar ol {
    padding-left: 20px;
}

.light-skin #sidebar .content li.selected {
    background-color: white;
    border: 0 none;
    border-radius: 0 16px 16px 0;
    color: #00ABEC;
    height: 24px;
    line-height: 24px;
    padding-left: 24px;
    text-shadow: 0 0 0;
    width: 108px;
	font-size: 9pt;
}

.light-skin #sidebar .content li {
    color: #00ABEC;
	font-size: 9pt;
}

/*
 * LOGO
 */

 td.logo{
 	font-family: Helvetica,Arial, sans-serif;
	font-size: 18pt;
	color: #1bc2ee;
	width: 100px;
 }
 
 #logo-part1{
 	font-weight: lighter;
 	
 }
 
 #logo-part2{
 	font-weight: bolder;	
 }
 
 /*
  * Story first thumb
  */
 
.story.first .thumbnail, .story.first .thumbnail img {
    height: 105px;
    width: 182px;
}

/*
 * Search box
 */

.light-skin #sidebar dt.searchbox {
	padding-left: 0px;
}

dt.searchbox input{
    border: 1px solid #FFFFFF;
    border-radius: 16px;
    height: 24px;
	width: 112px;
	font-size: 8pt;
	padding: 0 10px;
}

