@CHARSET "UTF-8";

body{
	border: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: block;
	
	-webkit-transition: background 1s;
}

div{
	display:block;
}

ul, menu, dir {
	display: block;
	list-style-type: disc;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 40px;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	display: list-item;
}

ul li {
	list-style: none;
	background: transparent;
}

ul li {
    background: none repeat scroll 0 0 transparent;
    list-style: none outside none;
}

#contentPane{
	position: absolute;
	left: 0;
	top: 0;
	right: 140px;
	bottom: 0;
	height: auto;
	width: auto;
	z-index: 120;
	
	overflow: hidden;
	background: transparent;
	padding: 0;
	border: 0 solid #DDD;
	
	/*
	 * debug
	 
	border: 1px solid green;
	*/
}

.light-skin .mainView {
	background: #E0E0E0;
}

.mainView{
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: 0;
	padding: 0;
	z-index: 100;
	
	-webkit-transition: top 1s,bottom 1s,right 1s,left 1s;
	-moz-transition: top 1s,bottom 1s,right 1s,left 1s;
	overflow: hidden;
	
	/*
	 * debug
	 
	border: 1px solid red;
	*/

}

/*
 * shrink wrap
 */
.shrinkWrap{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 20px;
	right: 20px;
	height: auto;
	width: auto;
	overflow: hidden;
	margin-top: 20px;
	
	-webkit-transform: translate3D(0,0,0);
	
	/*
	 * debug
	 
	border: 1px solid blue;
	*/
}

.shrinkWrap {
	z-index: 120;
}

.shrinkWrap {
	height: 494px;
	height: 694px;
}

.light-skin .shrinkWrap {
	-moz-box-shadow: 0 0 6px #999;
	-webkit-box-shadow: 0 0 6px #999;
	border: 1px solid transparent;
	background-color: #FBFAF9;
	background-color: white;
}

/*
 * section header
 */
.sectionHeader {
	margin: 10px 20px;
	margin-top: 9px;
}

.light-skin .sectionHeader {
	border-bottom: 1px solid black;
}

/*
 * logo
 */
.nytlogo {
    background-position: 0 3px !important;
    height: 28px;
    width: 171px;
}

.light-skin .nytlogo {
    background: url("images/logo.png") no-repeat scroll 0 0 transparent;
}

.light-skin .line {
    color: #CCCCCC;
    font-size: 24px;
}

.verticalLine {
    background: none repeat scroll 0 0 #CCCCCC;
    height: 23px;
    width: 1px;
}

.sectionName {
    font-family: 'nyt-franklin-1','nyt-franklin-2',Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 700;
    padding-left: 10px;
    text-transform: uppercase;
}

.light-skin .sectionName {
    color: #333333;
}

/*
 * page scroll container
 */
.pageScrollContainer {
	overflow: hidden;
	position: absolute;
	top: 50px;
	bottom: 30px;
	right: 20px;
	left: 20px;
}

.grid{
	visibility: hidden;
}
/*
 * pages
 */

.pages {
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    width: 10000px;
}

.pageContent {
}

.pages .grid {
    visibility: visible;
}

.shrinkWrap .page {
    float: left;
    margin: 0;
}

.shrinkWrap .page {
    height: 436px;
    width: 979px;
}

/*
 * story
 */
.story {
    background-color: #FFFFFF;
}

.grid .story {
    float: left;
    height: 160px;
    padding: 0;
    position: relative;
}

.blocks .story {
    cursor: pointer;
    margin: 0;
    text-align: left;
}

.grid .story {
    height: 218px;
    width: 244px;
}

.grid .story.first {
    height: 218px;
    width: 488px;
}

/*
 * story container
 */
.fill {
    bottom: 0;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}

.grid .story .container {
    overflow: hidden;
    padding: 10px 0;
}

.grid .story .container {
    border-bottom: 1px solid #CCCCCC;
}

.grid .container .content {
    border: 1px solid transparent;
    height: 100%;
    overflow: hidden;
    padding: 0 10px;
}

.grid .container .content {
    border-right: 1px solid #DDDDDD;
}

.light-skin .grid .container .content {
    border-right: 1px solid #E2E2E2;
}

.headline {
    color: #555555;
    cursor: pointer;
    font-family: 'nyt-cheltenham-hinted-1','nyt-cheltenham-hinted-2',Georgia,serif;
    font-size: 18px;
    line-height: 21px;
}

.story.first .headline {
    color: #000000;
    display: block;
    font-family: 'nyt-cheltenham-hinted-1','nyt-cheltenham-hinted-2','georgia',serif;
    font-size: 30px;
    line-height: 33px;
}

.headline a {
    text-decoration: none;
}

.headline a:link {
    color: #333333;
}

.byline {
    color: #808080;
    font-family: arial,helvetica,sans-serif;
    font-size: 11px;
    font-weight: 300;
    margin: 4px 0;
    text-transform: uppercase;
}

.thumbnail, .thumbWrapper {
    clear: left;
    float: left;
    height: 60px;
    margin-right: 4px;
    margin-top: 4px;
    width: 60px;
}

.story.first .thumbnail, .story.first .thumbnail img {
    height: 75px;
    width: 75px;
}

.story.first .thumbnail, .story.first .thumbnail img {
    height: 75px;
    width: 75px;
}

.story.first .summary {
    color: #333333;
    font-family: 'georgia','times',serif;
    font-size: 15px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
}

.summary p, .body p {
    color: #333333;
    font-family: 'Georgia','times',serif;
    font-size: 12px;
    line-height: 15px;
    margin: 2px 0 0;
    padding-top: 0;
}

/*
 * section footer
 */
.sectionFooter {
	font-size: 24px;
	position: absolute;
	bottom: 0;
	right: 20px;
	left: 20px;
	color: #CCC;
	height: 24px;
}

.light-skin .sectionFooter {
	border-top: 1px solid #CCC;
}

/*
 * grid
 */
.grid {
	/*visibility: hidden;*/
}

/*
 * story
 */
.story {
	background-color: white;
}	

.grid .story {
	float: left;
	position: relative;
	height: 160px;
	padding: 0;
}

.blocks .story {
	text-align: left;
	margin: 0;
	cursor: pointer;
}

.grid .story {
	height: 337px;
	width: 215px;
}

/*
 * sidebar
 */

 #sidebar {
    margin: 20px 20px 20px 0;
    padding-top: 0;
    z-index: 110;
}

#sidebar {
    -moz-transition: top 1s ease 0s, bottom 1s ease 0s, right 1s ease 0s, left 1s ease 0s;
    bottom: 0;
    height: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 120px;
}

.light-skin #sidebar {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
}

/*
 * sidebar : sections
 */
#sidebar dl.sectionFeeds {
    left: 0;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
}

#sidebar dt {
    cursor: pointer;
    font-family: 'nyt-franklin-1','nyt-franklin-2','helvetica','arial',serif;
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    padding: 5px;
    text-transform: uppercase;
}

.light-skin #sidebar dt {
    border-bottom: 1px solid #999999;
    color: #000000;
    text-shadow: 0 1px 0 #FFFFFF;
}

#sidebar .refresh {
    cursor: pointer;
    float: right;
    height: 15px;
    width: 14px;
}

.light-skin #sidebar .refresh {
    background: url("images/reload-dark.png") no-repeat scroll center center transparent;
    color: transparent;
    text-shadow: none;
}

#sidebar .label {
    cursor: pointer;
}

#sidebar dd {
    margin: 0;
    overflow: auto;
    padding: 0;
}

#sidebar dd {
	/*TODO: dynamic calculated height using javascript 
    height: 350px;*/
	
}

.light-skin #sidebar dd {
    background: none repeat scroll 0 0 transparent;
    border-bottom: 1px solid #999999;
    margin-bottom: 1px;
}

#sidebar ol {
    margin: 2px 0 0;
    padding: 0;
}

#sidebar .content li {
    color: #999999;
    cursor: pointer;
    font-family: 'nyt-franklin-1','nyt-franklin-2','helvetica','arial',serif;
    font-size: 11px;
    font-weight: bold;
    list-style: none outside none;
    margin: 2px 0;
    padding: 3px 5px;
    position: relative;
    text-transform: uppercase;
}

#sidebar .content li.selected {
    border-color: #777777 transparent transparent #777777;
    border-radius: 3px 3px 3px 3px;
    border-style: solid;
    border-width: 1px;
    margin: 2px 0;
    padding: 3px 5px;
}

.light-skin #sidebar .content li {
    background: none repeat scroll 0 0 transparent;
    border: 1px solid transparent;
    color: #646464;
    text-shadow: 0 1px 0 #FFFFFF;
}

.light-skin #sidebar .content li.selected {
    background: none repeat scroll 0 0 #B0B0B0;
    border-color: #999999 #EEEEEE #EEEEEE #999999;
    border-style: solid;
    border-width: 1px 0;
    color: #FFFFFF;
    text-shadow: 0 1px 0 #777777;
}

#sidebar .feedStatus {
    -moz-transition: opacity 1s ease 0s;
    color: #999999;
    float: right;
    font-size: 11px;
    opacity: 0;
    padding-left: 5px;
}

#sidebar .selected .feedStatus {
    color: white;
}

#sidebar .label {
    cursor: pointer;
}

/*
 * sidebar : helpers
 */
#sidebar dl.helpers {
    bottom: 0;
    left: 0;
    margin: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
}

.customize, .shortcuts, .account {
    background-position: right center;
    padding: 10px 5px !important;
}

.light-skin .account {
    background: url("images/myaccount-dark.png") no-repeat scroll right center transparent;
    color: #646464 !important;
}

.light-skin .customize {
    background: url("images/customize-dark.png") no-repeat scroll right center transparent;
    color: #646464 !important;
}

.light-skin .shortcuts {
    background: url("images/shortcuts-dark.png") no-repeat scroll right center transparent;
    color: #646464 !important;
}

#sidebar dt {
    cursor: pointer;
    font-family: 'nyt-franklin-1','nyt-franklin-2','helvetica','arial',serif;
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    padding: 5px;
    text-transform: uppercase;
}

.light-skin #sidebar dt {
    border-bottom: 1px solid #999999;
    color: #000000;
    text-shadow: 0 1px 0 #FFFFFF;
}